---
layout: default
---

<!-- Page Header -->
{% include intro-header.html type='page' %}

<!-- Main Content -->
<div class="container">
  <div class="row">
    {% if site.sidebar == false %}
    <!-- NO SIDEBAR -->
    <!-- PostList Container -->
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1
      postlist-container">
      {{ content }}
    </div>
    <!-- Sidebar Container -->
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1
      sidebar-container">
      <!-- Featured Tags -->
      {% include featured-tags.html %}

      <!-- Friends Blog -->
      {% include friends.html %}
    </div>
    {% else %}

    <!-- USE SIDEBAR -->
    <!-- PostList Container -->
    <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12
      col-xs-12 postlist-container">
      {{ content }}
    </div>
    <!-- Sidebar Container -->
    <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12
      col-xs-12 sidebar-container">
      
      

      <!-- Featured Tags -->
      {% include featured-tags.html %}

      <!-- Short About -->
      {% include short-about.html %}

      <!-- Subscribe email -->
      <!-- <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=github/aIZv', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>Enter your email address:</p><p><input type="text" style="width:140px" name="email"/></p><input type="hidden" value="github/aIZv" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Subscribe" /><p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p></form> -->

      <!-- Friends Blog -->
      {% include friends.html %}

      <!-- Ads -->
      {% include ads.html %}
      
      <section class="visible-md visible-lg">
        <div class='short-about'>
          <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=laU6Lmy9Pviyy8ov7eF4kegnhO1ceDqcH-j4O6zNz3U&cl=ffffff&w=a"></script>
        </div>
      </section>
    </div>
    {% endif %}
  </div>
</div>